body{
	background: #ccc;
}
#main{
	width: 980px;
	margin: 0 auto;
}
#top{
	overflow: hidden;
	border-bottom: 1px solid;
	padding: 10px;
}
#top h1{
	margin: 0;
	padding: 0;
	float: left;
	width: 300px;
	font-family: Arial;
	font-size: 26px;
}
#top h1 a{
	text-decoration: none;
	color: blue;
}
#top ul{
	margin: 0;
	padding: 0;
	margin-left: 300px;
}
#top ul li{
	display: inline-block;
	margin-right: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: red;
	padding: 10px;
}
#top ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-family: Arial;
	font-weight: bold;
}
#content{
	padding: 10px;
}